@charset "utf-8";
*{
    margin: 0 auto;
    font-family: "微软雅黑";
    list-style: none;
    font-size:14px;
}
a{
    color: #8996b9;
}
a:hover{
    color: #b97e7a;
}

.clearfix{
    clear: both;
}

.header{
    width: auto;
    height: 160px;
    background-color: #ffffff;
    position: relative;
    border-bottom: 1px solid #eee;
}

body{
    color: #878787;
}

.top-index{
	width:100%;
	height:40px;
	background-color: #FF9933;
}

.top-index a{
    color: #FF9933;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 2px;
    background-color: #FFFFFF;
}


.header .container{
    position: relative;
}

#manage{
	position: absolute;
	top:10px;
	right: 10%;
}

#manage li{
	float:left;
	margin-right: 20px;
}
.logo{
    position: absolute;
    top: 50px;
    left: 20px;
    height: 50px;
    width: 150px;
    background-image: url("../img/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo a{
    display: block;
    height: 50px;
    width: 150px;
}

.search_box{
    position: absolute;
    top: 30px;
    right: 20px;
    height: 20px;
    width: auto;
}
.search_box input{
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    vertical-align: middle;
    height: 30px;
}

.navbar{
    position: absolute;
    top: 80px;
    right: 0px;
    height: 50px;
    width: 60%;
}

.navbar li{
    width: 23%;
    padding-left: 2px;
}

.navbar li a{
	width:90px;
    height: 30px;
    color: #ffffff;
    border: 1px solid  #ffffff;
    display: block;
    text-align: center;
    background-color: #FF9933;
}

.eat{
    width: auto;
    height: 700px;
    background-image: url("../img/eat.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #e3e3e3;
}
.eat .container{
    margin-top: 150px;
    text-align: right;
}

.article{
    float: right;
    text-align: left;
}



.drink{
    margin-top: 10px;
    width: auto;
    height: 700px;
   background-image: url("../img/drink.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #e3e3e3;
}
.drink .container{
    margin-top: 150px;
    text-align: right;
    color: #FFFFFF;
}
.play{
    width: auto;
    height: 700px;
    background-image: url("../img/play.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #e3e3e3;
}
.play .container{
    margin-top: 300px;
    text-align: left;
    color: #FFF;
}
.fun{
    width: auto;
    height: 650px;
    background-image: url("../img/fun.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #e3e3e3;
}
.fun .container{
    margin-top: 150px;
    text-align: right;
}

.list_content{
	padding-top: 10px;
	float:left;
} 

.list_content li{
	padding-top:18px;
}

#goods_type{
    height: 100px;
    border: 1px solid #ededed;
    margin-top: 20px;
}

#goods_Sort{
    height: 30px;
    border: 1px solid #ededed;
    margin-top: 20px;
}

.itemBox{
	/*width:230px;*/
	height:310px;
	border: 1px solid #ededed;
    border-radius: 10px;
	text-align: justify;
}

.itemBox:hover{
    border-color: #FF9933;
    box-shadow: 2px 2px 2px #FF9933;
}
.itemBox a:FIRST-CHILD {
	display:block;
	width:100%;
}

#goods_ul li{
    width: 28%;
    display: inline-block;
    margin-right: 30px;
}

.itemBox span{
	padding-left:10px;
}

.itemBox label{
	width : 20px;
	heifht:20px;
	background-image: url("../img/basket.png");
	background-repeat: no-repeat;
	background-size:100%;
}

.toolbar{
	width: 100px;
	height: 150px;
	position: fixed;
	right: 0px;
	bottom:150px;
	text-align: center;
}

.toolbar a{
	line-height: 50px;
	display:block;
	width: 50px;
	height: 50px;
	color: black;
	background-repeat: no-repeat;
	background-size:100%;
}

.toolbar #scrollUp{
	background-image: url("../img/shop.png");
}

.toolbar #toCart{
	background-image: url("../img/trolley.png");
}

.fixer{ display:inline;position:fixed; top:0px;_position:absolute;_top:e-xpression(documentElement.scrollTop+10 + "px")}

.footer{
	margin-top:10px;
    width: auto;
    height: 80px;
    background-color: #FF9933;
    text-align: center;
}

.footer p{
    color: #FFFFFF;
    line-height: 80px;
}

.login-content{
	overflow: hidden;
	height: 100%;
}

.login-content :before{
	height: 50%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index: -1;
	background-color: #00bcd4;
}

#login {
	width:100%;
	text-align: center;
}

#loginForm{
	width:350px;
	height:350px;
	position: absolute;
	left: 50%;
	top:50%;
	padding-top:20px;
	line-height:20px;
	background: url("../img/input_area.png")  no-repeat ;
	background-size:350px 350px;
}

.input-group{
	display:table;
	border-collapse:collapse;
}

#loginForm span{
	width:30%;
	height:auto;
	color: #808080;
	text-align: center;
	float:left;
	margin-bottom: 5px;
}

#loginForm input[type="text"]{
	width:65%;
	height:auto;
	float:left;
	margin-bottom: 5px;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom : 1px solid #000;
}

#loginForm input[type="password"]{
	width:65%;
	height:auto;
	float:left;
	margin-bottom: 5px;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom : 1px solid #000;
}

#loginForm input[type="submit"]{
	width:30%;
	background-color: #00a642;
	border: none;
	border-radius: 3px;
	color: #fff;
}

#loginForm input[type="cancel"]{
	text-align: center;
	width:30%;
	background-color: #f74b02;
	border: none;
	border-radius: 3px;
	color: #fff;
}

.info-message{
	display: block;
	margin : 0 auto;
	color: red;
}

.top{
    margin: 0 auto;
    width: auto;
    height: 50px;
    background-color: #25313e;
    position: relative;
}


.top ul{
    position: absolute;
    top: 10px;
    right: 150px;
}

.top li{
    float: right;
    margin-right: 30px;
}

.top a{
    font-size: 16px;
    vertical-align: middle;
}

.public-menu{
    width: 20%;
    height: auto;
    min-height: 500px;
    float:left;
    background-color: #41586e;
}

.public-menu li{
    margin-top: 20px;
    width: 100%;
    border-bottom: 1px solid #475c70;
}

.public-menu span{
    line-height: 30px;
    font-size: 20px;
    font-style: oblique;
    color: #adbece;
}

.public-menu a{
    width: 100%;
    line-height: 30px;
    color: #adbece;
    font-size: 16px;
}

.nav-primary{
    border-bottom: 1px solid #475c70;
}


.public-iframe-content{
    width: 75%;
    float: right;
}

/*itemDetail*/
#item_info{
	margin: 30px 0;
	width:100%;
	height:auto;
	min-height: 350px;
}

.info_image{
	padding: 10px;
	text-align: center;
	height:100%;
}

#item_info .detail-img{
    width:100%;height:300px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
}

#item_info_detail{
	width: 100%;
	height:auto;
	min-height:500px;
	padding: 30px 0;
}

#info_tab{
    margin-top: 10px;
    border: 1px solid #EDEDED;
    border-radius: 3px;
    min-height: 90px;
    padding: 20px 50px;
    color: #878787;
}

#detail_tab{
    padding: 20px 10px;
}

.goods-comment{
    min-height: 50px;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
}